*, *::before, *::after {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  padding: 10px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  max-width: 900px;
  max-height: 800px;
  height: 700px;
  width: 600px;
  background-color: gray;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.display {
  border: 1px solid black;
  grid-column: 1/5;
  padding: 10px;
  text-align: right;
  margin: 0;
  background-color: aliceblue;
  border-radius: 10px;
  height: 80px;
}

.display div {
  font-size: 32px;
  height: 30px;
}

.display .top {
  font-size: 24px;
}

.calculator-buttons {
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.calculator-buttons:hover {
  opacity: 0.8;
}

.calculator-buttons:active {
  transform: scale(1.05);
}

