*, *::before, *::after {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(64, 183, 223), lightseagreen);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  margin: 0;
  max-width: 600px;
  max-height: 700px;
  min-height: 500px;
  min-width: 400px;
  background-color: rgb(6, 39, 66);
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.display {
  border: 1px solid black;
  grid-column: 1/5;
  padding: 10px;
  text-align: right;
  margin: 0;
  background-color: rgb(171, 184, 196);
  border-radius: 10px;
  height: 80px;
}

.display div {
  font-size: 32px;
  height: 30px;
}

.display .top {
  font-size: 24px;
}

.calculator-buttons {
  border: 1px solid black;
  background-color: rgb(82, 82, 82);
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.clear {
  background-color: rgb(153, 9, 9);
}

.del {
  background-color: rgb(228, 111, 33);
  color: black;
}

.calculator-buttons:hover {
  opacity: 0.8;
}

.calculator-buttons:active {
  transform: scale(1.05);
}

footer p{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 5px;
}

footer, footer *{
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: rgb(46, 46, 46);
}

footer a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

footer img {
  height: 24px;
  margin-left: 15px;
  margin-right: 5px;
}
